/******************************************************************************
TABLE OF CONTENTS

AUTHOR            - Richard Myatt
DATE              - 6 December 2017


GENERAL STYLING                - main container and general styling
FORM STYLING                   - form and button styling
ARTICLE STYLING                - article styling
RESPONSIVE STYLING             - responsive layout styling


COLOUR PALETTE

lightgrey                      - background colour ariticle on hover
#cedff2                        - ariticle panel background light blue
#ffffff                        - main container background white
#a7d7f9                        - main container border blue
#f6f6f6                        - body background grey
#3366cc                        - button font blue


******************************************************************************/

/******************************************************************************
  General styling begins
******************************************************************************/
* {
	margin: 0;
	padding: 0;
}

.container {
	width: 50vw;
	margin: 50px auto;
	padding: 19px;
	padding-top: 40px;
	background-color: #ffffff;
	border: 1px solid #a7d7f9;
}

h1 {
	font-family: 'Linux Libertine','Georgia','Times',serif;
	padding-bottom: 20px;
}

body {
	font-family: sans-serif;
	background-color: #f6f6f6;
}
/* General styling ends */

/******************************************************************************
  Form styling begins
******************************************************************************/
form {
	padding-bottom: 1vw;
}

input {
	margin-bottom: 1vw;
}

button {
	font-weight: bold;
	font-size: 16px;
	color: #3366cc;
}
/* Form styling ends */


/******************************************************************************
  Article styling begins
******************************************************************************/
header {
	text-align: center;
}

article {
	background-color: #cedff2;
	padding: 0.1em 0.6em;
	margin-bottom: 10px;
}

article:hover {
	cursor: pointer;
	background-color: lightgrey;
}
/* Article styling ends */

/******************************************************************************
  Res styling begins
******************************************************************************/
@media only screen and (max-width:1200px) {
  /* For medium size screens: */
  .container {
    width: 80vw;
  }
}

@media only screen and (max-width:620px) {
  /* For mobile devices: */
  .container {
    width: 100vw;
		margin: 20px auto;
		padding: 5px;
		padding-top: 20px;
  }
}
/* Responsive styling ends */
