* {
	margin: 0;
	padding: 0;
}

.container {
	width: 50vw;
	margin: 50px auto;
	padding: 19px;
	padding-top: 40px;
	background-color: #ffffff;
	border: 1px solid #a7d7f9;
}

body {
	font-family: sans-serif;
	background-color: #f6f6f6;
}

h1 {
	font-family: 'Linux Libertine','Georgia','Times',serif;
	padding-bottom: 20px;
}

header {
	text-align: center;
}

article {
	background-color: #cedff2;
	padding: 0.1em 0.6em;
	margin-bottom: 10px;
}

article:hover {
	cursor: pointer;
	background-color: lightgrey;
}

form {
	padding-bottom: 1vw;
}

input {
	margin-bottom: 1vw;
}

button {
	font-weight: bold;
	font-size: 16px;
	color: #3366cc;
}

@media only screen and (max-width:1200px) {
  /* For medium size screens: */
  .container {
    width: 80vw;
  }
}

@media only screen and (max-width:620px) {
  /* For mobile devices: */
  .container {
    width: 100vw;
		margin: 20px auto;
		padding: 5px;
		padding-top: 20px;
  }
}
